@import "~antd/dist/antd.css";
#components-layout-demo-fixed-sider .logo {
	height: 32px;
	margin: 16px;
	background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
	background: #fff;
}

.logo a {
	margin-left: -20px;
}
.menuCon .ant-menu-item,
.menuCon .ant-menu-submenu-title {
	padding: 1px 20px;
}
.logo a {
	padding: 0px 20px;
}
.trigger {
	padding: 0 24px;
	font-size: 18px;
	line-height: 64px;
	cursor: pointer;
	transition: color 0.3s;
}
